name: Next.js_build

on:
  push:
    branches:
      - main  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache Next.js dependencies
        uses: jongwooo/next-cache@v1

      - name: Install dependencies
        run: npm ci

      - name: Build Project
        run: npm run build
